*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
}
body{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}
header {
    background: rgba(165, 38, 38, 0);
    height: 65px;
    width: 100vw;
}
header a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px ;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    position: relative;
    z-index: 50;
    left: 20%;
    top: .8em;
}
header ul li a:hover{
    color: rgb(179, 125, 27);
}

header .top-info{
    position: relative;
    left:70%;
    z-index: 80;
}
header img, 
header svg,
header button{
    position: absolute;
}
header img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    left: 230px;
    top: -7px;
    cursor: pointer;
}
header button {
    left:20%;
    font-size: 15px;
    padding-inline: 5px;
    border: none;
    background: none;
    cursor: pointer;
}
header svg{
    top: -5px;
    left: 165px;
    height: 25px;
    fill: rgb(131, 168, 156);
    cursor: pointer;
}
header .cart{
    left: 170px;
}
header .mail{
    transform: translateX(-50px);
}
header .no1,
header .no2{
    height: 15px;
    width: 15px;
    color: rgb(20, 20, 20);
    display: grid;
    place-items: center;
    position: absolute;
    border-radius: 50px;
    /* z-index: 100; */
    background: rgb(131, 168, 156);
    font-size: 10px;
}
header .no1{
    left: 185px;
    top: -5px;
}
header .no2{
    top: 6px;
    left: 130px;
}
header .name button{
    text-decoration: underline;
    padding-right: 2em;
}
header .name button:hover,
header .name svg{
    color: rgb(26, 23, 15);
}
.acct{
    display: none;
}
header .acct.drp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;  
    top: 2em;
    left:  16em;
    background-color: rgb(136, 100, 100);
    width: 8em;
    height:7em;
}
.cart{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 17, 17, 0.479);
    left: 0;
    top: 0;
    margin: auto;
    z-index: 60;
}
.cart .cart-inside{
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 50;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
}
.cart .cart-item{
    transform: translate(0,20%);
    position: relative;
    margin-top: 2em;
    left: 15%;
    right: 0;
    /* margin: ato; */
    width: 70%;
    height: 30%;
    background-color: #eeba51;
    border-radius: 10px;
}
.cart .cart-item .quantity{
    position: absolute;
    top: 60%;
    right: 7.5%;
    text-transform: uppercase;
}
.cart .cart-item .add-item,
.cart .cart-item .remove-item{
    position: relative;
    left: 70%;
    margin-left: 2em;
    width: 1.5em;
    height: 1.5em;
    font-size: 20px;
    font-weight: bolder;
    top: -1.3em;
    border-radius: 7px;
    border: none;
}
.cart .cart-item .item-quantity{
    position: relative;
    left:73%;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
    background-color: #f0e6d1;
    width: 2em;
    height: 1.5em;
    border: none;
    top: -1.3em;
    border-radius: 5px;
    padding-inline-start: .65em;
}
.cart .cart-item img{
    width: 30%;
    height: 90%;
    transform: translate(4.5%, 5%);
    border-radius: 10px;
}
.cart .cart-item .buttons{
    display: flex;
    align-items: flex-start;
}
.cart .cart-item img,
.cart .cart-item h5,
.cart .cart-item p{
    display: inline-flex;
}
.cart .cart-item h5,
.cart .cart-item p{
    transform: translate(0, -80%);
}
main{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
}
main .left-side{
    height: 100vh;
    width: 100%;
    background-color: rgba(129, 120, 120, 0);
    position: relative;
    top: -10%;
    background-image: url(/img/pexels-melvin-buezo-2529147.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 45;
}
main .left-side button{
    cursor: pointer;
}
.info-text{
    width: 30%;
    position: absolute;
    right: 10%;
    bottom: 60%;
    font-size: larger;
    /* line-height: ; */
}
main .intro,
main .explore{
    line-height: 2em;
}
main .left-side .featured-collection{
    width: 80%;
    height: 30%;
}
main .featured-collection #info{
    transform: translate(6%,45vh);
}
main .left-side img{
    position: relative;
    height: 12.5rem;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: -5%;
}
.airforce-one img{
    transform: translatey(-6%);
}
.airforce-one,
.airforce-retro,
.hikes-4{
    transform: translateY(110%);
    background-color: #f0ce89cb;
    height: 45%;
    width: 16.5%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 10px 0px 30px rgba(243, 169, 84, 0.6); */
}
.airforce-one {
    position: absolute;
    left: 5%;
}

.airforce-retro {
    position: absolute;
    left: 25%;
}
.hikes-4 {
    position: absolute;
    left: 45%;
}
.airforce-one button,
.airforce-retro button,
.hikes-4 button{
    display: grid;
    place-items: center;
    width: 150px;
    height: 30px;
    background-color: #c5ae98fa;
    border: none;
    border-radius: 10px;
}
/* .hikes-4 button{
    transform: translate(5%,-30%);
}*/
.info{
    text-decoration: none;
}

.airforce-one a h3,
.airforce-one a p,
.hikes-4 a h3,
.hikes-4 a p,
.airforce-retro a h3,
.airforce-retro a p{
    display: grid;
    place-items:  center;
    color: #111;
}
.hikes-4 a h3,
.hikes-4 a p{
    transform:translatey(-20%);
    
}

.airforce-one a h3,
.airforce-one a p{
    transform: translatey(-105%);
}
/*
.hikes-4 a h3,
.hikes-4 a p{
    margin-left: 10%;
}
.airforce-retro a h3,
.airforce-retro a p{
    transform:translate(5%,-10%)translateY(-14%);
    /* margin: 5%; */

.airforce-one:hover,
.airforce-retro:hover,
.hikes-4:hover{
    border: .5px solid #eeba51;
    background-color: rgb(235, 189, 90);
    /* box-shadow: 10px 0px 30px rgba(172, 124, 70, 0.6); */
}
.search::placeholder {
    transform: translate(10px);
}
.search:focus{
    border: none;
    outline: none;
}
.featured-collection-info{
    position: relative;
    width: 70vw;
    height: 70vh;
    background-color: #fff;
    z-index: 100;

    display: none;
}
.featured-collection-info.clicked{
    display: block;
}
.messages{
    display: none;
}
.messages.active{
    position: fixed;
    right: .5%;
    top: -5%;
    width: 30vw;
    height: 100vh;
    background-color: #fffaef;
    margin-top: 7%;
    overflow-y: auto;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    z-index: 100;
}
.messages .search{
    height: 30px;
    transform: translate(25%,50%);
    border: none;
    border-radius: 10px;
    padding-inline: 30px;
    background-color: #eeba51;
}
.messages .search::placeholder{
    color: blue;
    transform: translate(23.5%);
}
.messages .message-cont{
    width: 90%;
    background-color: #eeba51;
    height: 10%;
    left: 0;
    right: 0;
    top: 7%;
    margin: auto;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
}
.messages .messages-cont{
    margin-top: 15%;
}
.messages .messages-cont h5{
    text-transform: capitalize;
    padding-bottom: 10px;
    color: #f0e6d1;
}
.messages .message-cont img{
    position: absolute;
    top: 15%;
    left: 83%;
    height: 50px;
    width: auto;
    border-radius: 50px;
}
.messages .empty-message{
    position: relative;
    top: 40%;
    left: 10%;
    font-size: 18px;
    height: 10%;
    width: 80%;
    padding: 10px;
}

@media (max-width:200px){
    body{
        display: flex;
        flex-wrap: wrap;
        flex-shrink: inherit;
    }
}